button {
  font-family: $button_font;
  font-size: $button_font_size;
  color: $button_text_color;
  border: none;
  border-radius: 0px;
  background: #4568dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #b06ab3,
    #4568dc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #b06ab3,
    #4568dc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  &:hover {
    cursor: pointer;
  }
}
