// ------------> Headline Font Family

$headings-font: 'Anton', sans-serif;
$h1-font-size: 4rem;

// ------------> Navigation Font Family

$link-font: 'Roboto Condensed', sans-serif;
$link-font-size: 1.2rem;

// ------------> Body Font Family

$body-font: 'Roboto Condensed', sans-serif;
$body-font-size: 1rem;
