// ------------> Headline Font Family

$headings_font: 'Happy Monkey', cursive;
$h1_font_size: 2.2rem;

// ------------> Navigation Font Family

$link_font: 'Abel', sans-serif;
$link_font_size: 1.5rem;

// ------------> Body Font Family

$body_font: 'Abel', sans-serif;
$body_font_size: 1.3rem;
