// ------------> Headline Font Family

$headings-font: 'Sedgwick Ave', cursive;
$h1-font-size: 2.5rem;

// ------------> Navigation Font Family

$link-font: 'Barlow Condensed', sans-serif;
$link-font-size: 1.2rem;

// ------------> Body Font Family

$body-font: 'Barlow Condensed', sans-serif;
$body-font-size: 1rem;
