figure {
  background-color: #fff;
  border-radius: 3px;

  img {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: box-shadow 1s ease;

    &:hover {
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
        0 15px 12px rgba(0, 0, 0, 0.22);
    }

    &.default_img {
      box-shadow: none;
      width: 70px;
      height: 70px;
    }
  }

  figcaption {
    color: #000;
    text-align: center;
    font-weight: bold;
    color: #69619b;
    margin-top: 20px;
    max-width: 200px;
  }
}
