.heart-container {
  text-align: right;
}

.heart {
  fill: #212121;
  width: 25px;
  height: 25px;
  margin-top: 15px;
  transition: all 0.5s ease;

  &.hearted {
    fill: red;
  }

  &:hover {
    cursor: pointer;
  }
}
