.home_container {
  position: relative;
  display: flex;

  #logo {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 150px;
    height: 150px;
    z-index: 3;

    @media (max-width: 1296px) {
      width: 100px;
      height: 100px;
    }
  }

  @media (max-width: 1296px) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.map_container {
  background-color: $map_background_color;
  width: 65vw;
  height: $total_height;
  padding: $spacing-huge;
  border-right: 3px solid #000;
  position: relative;

  &.map_expanded {
    width: 100vw;
  }

  @media (max-width: 1296px) {
    display: block;
    width: $total_width;
    border: none;
  }
}

.expand {
  position: absolute;
  top: 20px;
  right: 50px;
  font-size: $link_font_size;
  text-decoration: none;
  color: $highlight_text_color;
  font-weight: bold;
  background: transparent;
  transition: color 1s ease;

  @media (max-width: 1296px) {
    display: none;
  }

  &:hover {
    color: #000;
  }

  &:focus {
    outline: 0;
  }
}

.map {
  opacity: 0.5;
}

.realtime_container {
  width: 35vw;
  height: $total_height;
  overflow: scroll;
  scroll-behavior: smooth;
  background-color: #ab47bc;
  position: relative;

  .voice_search {
    height: 60px;
    text-align: center;
    background-color: #fff;
    border-bottom: 3px solid #000;
    margin-bottom: 30px;
    color: $highlight_text_color;
    display: flex;
    align-items: center;
    justify-content: center;

    strong {
      color: #ab47bc;
    }
  }

  &.map_expanded {
    display: none;
  }

  @media (max-width: 1296px) {
    display: block;
    width: $total_width;
  }
}

.notice,
.alert {
  background-color: $highlight_text_color;
  color: #fff;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 30%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  z-index: 100;
}
