.home_container {
  position: relative;
  display: flex;

  #logo {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 150px;
    height: 150px;
    z-index: 3;
  }
}

.map_container {
  background-color: $map_background_color;
  width: 65vw;
  height: $total_height;
  padding: $spacing-huge;
}

.map {
  opacity: 0.5;
}

.realtime_container {
  width: 35vw;
  height: $total_height;
  padding: $spacing-huge;

  form {
    margin-bottom: 50px;
  }
}
